component
  width: 100%
  display: grid
  grid-template-columns: 1fr auto 40px 40px 4px auto
  align-items: center
  font-size: 12px
  padding: 0.25em
  column-gap: 0.25em
  border-radius: 0.125em

  span
    font-size: 11px
    width: 100%
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis