component
  flex: 1
  display: flex
  flex-direction: column
  row-gap: 0.25em
  font-size: 0.75em
  overflow: hidden auto

  .scrollbar-padding &
    padding-right: 12px

    component
      padding-right: 0

  label
    flex: 1
    display: flex
    align-items: center
    column-gap: 0.5em
    padding: 0
    min-width: 0

    > span
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    > hr
      flex: 1
      background: rgba(white, 0.04)
      border: none
      height: 1px

    > svg
      font-size: 18px

  .number-field
    display: flex
    align-items: center
    column-gap: 0.5em
    min-width: 0

    > span
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      color: var(--color-shadow)

    > hr
      flex: 1
      background: rgba(white, 0.04)
      border: none
      height: 1px

  .select-field
    display: flex
    flex-wrap: wrap
    align-items: center
    column-gap: 0.5em
    row-gap: 0.25em
    min-width: 0

    > span
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      color: var(--color-shadow)

    > hr
      flex: 1
      background: rgba(white, 0.04)
      border: none
      height: 1px

    [data-class="radio-group"]
      display: flex
      flex-wrap: wrap
      gap: 0.25em

      > label
        padding: 0.25em 0.5em
        border-radius: 3px
        font-size: 11px
        color: var(--color-shadow)
        white-space: nowrap
        width: auto
        min-width: auto

      > input:checked + label
        color: var(--color-blue)
        background: rgba(black, 0.2)

  .accordion
    > summary
      cursor: pointer
      padding: 0.25em 0
      font-weight: 500
      list-style: none
      display: flex
      align-items: center
      gap: 0.5em

      &::before
        content: "▶"
        font-size: 0.6em
        transition: transform 0.1s ease

    &[open] > summary::before
      transform: rotate(90deg)

    > component
      padding-top: 0.25em
      margin-left: 1em
      padding-left: 1em
      border-left: 1px solid rgba(white, 0.1)
      font-size: 1em