@use "@/colors"

component
  padding: 0 0.5em
  white-space: nowrap
  max-width: 100%
  color: var(--color-gray)
  position: relative
  text-align: right
  font-size: 8px
  overflow: hidden
  display: flex
  column-gap: 0.25em
  justify-content: end

  &.center
    justify-content: center

  &.midi, .midi &, &.automated, .automated &
    min-width: 4em
    border-radius: 0.125em
    background-color: rgba(white, 0.02)

  &.midi, .midi &
    box-shadow: 0 0 1px 0 var(--color-orange)

  &.automated, .automated &
    box-shadow: 0 0 1px 0 var(--color-blue)

  &[unit]:not([unit=""]):after
    content: attr(unit)
    color: var(--color-dark)
    flex: 0 0 1em
    text-align: left

  &.modifying, .modifying &
    color: var(--color-blue)

  &.framed
    min-width: 44px
    border-radius: 0.25em
    text-align: right
    line-height: 18px

    &.modifying, .modifying &
      box-shadow: 0 0 0 0.5px rgba(white, 0.2)
      background-color: var(--color-black)