@use "@/colors"
@use "../PrimaryTrackHeader" as *

component
  @include PrimaryTrackHeader

  > div.bpm-range
    display: flex
    flex-direction: row
    align-items: center
    column-gap: 4px

    > hr
      margin: 0 1px
      width: 6px
      height: 1px
      border: none
      background-color: rgba(white, 0.15)