@use "column" as *

component
  @include column
  position: relative

  div.projects
    flex: 1
    margin-top: 4px
    display: flex
    flex-direction: column
    row-gap: 1px
    overflow: hidden auto
    mask-image: linear-gradient(to bottom, black calc(100% - 8px), transparent)

    > hr
      border: none
      outline: none